<h1>Sites</h1>

<table class="table table-hover">

  <thead>
    <tr class="table-dark">
      <th>Name</th>
      <th>URL</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= site.url %></td>
        <td><%= site.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
